Source: gridservices2
Section: omf 
Priority: optional
Maintainer: Max Ott <max@winlab.rutgers.edu>
Build-Depends:
Standards-Version: 3.6.1

Package: gridservices2
Architecture: all
Pre-Depends: 
Recommends: 
Depends: frisbee, libldap-ruby1.8 (>=0.9.0-1), libsqlite3-ruby1.8
Suggests: 
Installed-Size: 1024
Conflicts: 
Replaces: 
Description: Provides various services for running experiments on Orbit
