Source: omf-resctl
Section: omf
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: omf-resctl
Architecture: all
Depends: wget, ruby1.8, omf-common, wireless-tools
Description: OMF Resource Controller
 Client application for the OMF Experiment Controller.

