<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />  <title>visyonetclient</title></head><body style="background-color: rgb(255, 255, 255);">

<script language="JavaScript">
<!--
var isInternetExplorer = navigator.appName.indexOf("Microsoft") != -1;
// Handle all the FSCommand messages in a Flash movie.
function visyonetclient_DoFSCommand(command, args) {
  var visyonetclientObj = isInternetExplorer ? document.all.visyonetclient : document.visyonetclient;
  //
  // Place your code here.
  //
  alert(args);
}
// Hook for Internet Explorer.
if (navigator.appName && navigator.appName.indexOf("Microsoft") != -1 && navigator.userAgent.indexOf("Windows") != -1 && navigator.userAgent.indexOf("Windows 3.1") == -1) {
  document.write('<script language=\"VBScript\"\>\n');
  document.write('On Error Resume Next\n');
  document.write('Sub visyonetclient_FSCommand(ByVal command, ByVal args)\n');
  document.write('  Call visyonetclient_DoFSCommand(command, args)\n');
  document.write('End Sub\n');
  document.write('</script\>\n');
}
//-->
</script>
<!--url's used in the movie-->
<!--text used in the movie-->
<% @context = ::VisyoNet::VisHttpServer.instance.getContext(servlet_request) %>
Path: <%= @context.path if @context != nil %>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
        id="visyonetclient" 
        width="500" 
        height="100%" 
        align="middle">
  <param name="allowScriptAccess" value="sameDomain" />
  <param name="movie" value="visyonetclient.swf" />
  <param name="loop" value="false" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#ffffff" />
  <embed src="/visyonet/visyonetclient.swf" 
         loop="false" 
         quality="high" 
         bgcolor="#ffffff" 
         width="100%" 
         height="100%" 
         swLiveConnect=true 
         id="visyonetclient" 
         name="visyonetclient" 
         align="middle" 
         allowScriptAccess="sameDomain" 
         type="application/x-shockwave-flash" 
         pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>


<table style="text-align: left; width: 100%; height: 100%;" border="0" cellpadding="2" cellspacing="2">  
  <tbody>    
    <tr>
      <td style="background-color: rgb(204, 204, 255);" colspan="3" rowspan="1">      
        <big><big>VISYONET Configuration</big></big>      
      </td>    
    </tr>    
    <tr>      
      <td style="text-align: center;" colspan="3" rowspan="1">      
        <form action="updateAvgInterval" enctype="multipart/form-data" method="get">   
        <table id="setaveraginginterval" bordercolorlight="#000000" bordercolordark="#000000" border="1" cellpadding="5" style="text-align: left;">          
          <tbody>            
            <tr>
              <td>
                <b>Set averaging interval.</b><br>
                [This controls the update periods from the database]
              </td>
            </tr>
            <tr>
              <td align="center">
                New value: <input name="val" size="10" type="text" /> <b>ms</b> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input value="Set " type="submit" />              
              </td>
            </tr>            
            <tr>              
              <td align="center">&nbsp;</td>
            </tr>          
          </tbody>        
        </table>      
        </form>      
      </td>    
    </tr>  
  </tbody>
</table>
<table id="table1" border="0" width="100%">  
  <tbody>    
    <tr>      
      <td style="width: 20%; font-family: Helvetica,Arial,sans-serif; background-color: rgb(204, 204, 204); text-align: center; vertical-align: middle;">        
        <big><a href="configurationfiles.html">Configuration Files</a></big>      
      </td>      
      <td>&nbsp;</td> 
      <td style="width: 20%; font-family: Helvetica,Arial,sans-serif; background-color: rgb(204, 204, 204); text-align: center; vertical-align: middle;">
        <big><button onclick="javascript:window.close()">Exit</button></big>      
      </td>
    </tr>  
  </tbody>
</table>
</body>
</html>
