.DS_Store
omf-expctl/ruby/repository
omf-aggmgr/etc/omf-aggmgr/enabled
tags
.project
.settings
*/*/:memory
*/:memory
*~
*.build
*.changes
*.deb
build-stamp
configure-stamp
*.debhelper
*.debhelper.log
*.substvars
*/ruby/gems
*/gems
*.swp
*.orig
*/debian/files
.yardoc/
omf-web/example/incoming
*/debian/omf-*
