Source: omf-web-5.4
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5), rubygems, rake 
Standards-Version: 3.7.2
Section: science

Package: omf-web-5.4
Section: science
Architecture: all
Depends: omf-common-5.4, omf-oml-5.4
Description: OML related functionality to support the querying and processing
 of measurements collected through the OML framework.
