#!/bin/sh

APP_NAME=@@APP_NAME@@
APP_SCRIPT=@@APP_SCRIPT@@
INSTALL_DIR=/usr/bin

# Used for debian install 
PREFIX=''

if [ ! -z $1 ] ; then
  INSTALL_DIR=$1
fi

if [ -z $2 ] ; then
  n=$(pwd)/$0
  DIST_DIR=`dirname $n`
else
  DIST_DIR=$2
fi

if [ ! -z $3 ] ; then
  PREFIX=$3
fi

chmod +x $PREFIX$DIST_DIR/sbin/ruby1.8
sed -e "s/@APP_SCRIPT@/$APP_SCRIPT/" $PREFIX$DIST_DIR/app/app.sh | sed -e "s:@INSTALL_DIR@:$DIST_DIR:" > $PREFIX$INSTALL_DIR/$APP_NAME
chmod +x $PREFIX$INSTALL_DIR/$APP_NAME
