Source: omf-resmgr-5.4
Section: science
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: omf-resmgr-5.4
Architecture: all
Depends: omf-common-5.4
Description: OMF Resource Manager
 OMF entity managing slivers on shared virtualised resources.

