Source: omf-aggmgr-5.3
Section: omf
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: omf-aggmgr-5.3
Architecture: all
Depends: frisbee, libmysql-ruby, libldap-ruby1.8 (>=0.9.0-1), libsqlite3-ruby, omf-common-5.3, psmisc, nmap, netcat-openbsd
Description: OMF Aggregate Manager
 Provides various services for running experiments in OMF
