Source: omf-aggmgr-5.4
Section: science
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5), ruby1.9.1 | rubygems
Standards-Version: 3.7.2

Package: omf-aggmgr-5.4
Architecture: all
Depends: frisbee, libmysql-ruby, ruby-ldap, libsqlite3-ruby, sqlite3, omf-common-5.4, psmisc, nmap, netcat-openbsd, libmysqlclient-dev
Description: OMF Aggregate Manager
 Provides various services for running experiments in OMF
