

/****
 * Graph type selector
 */

div.graph-type-selector .icon {
  width: 22px;
  height: 22px;
  display: block;
}


div.oml-line-chart {
  margin: 20px;
}

.oml-line-chart path {
  fill: none;
}

/*.oml-line-chart line {
  stroke: black;
}*/

.oml-line-chart .grids {
  stroke: #ccc;
  stroke-width: 1;
}

.oml-line-chart text {
  font-family: Arial;
  font-size: 9pt;
}

.oml-line-chart .oml-line-chart .graph-area {
  cursor: crosshair;
}

.oml-line-chart .select-rect {
  cursor: pointer;
  *cursor: hand;
  fill-color: #FF8080;
  fill-opacity: 0.4;
}

