

/****
 * Graph type selector
 */

div.graph-type-selector .icon {
  width: 22px;
  height: 22px;
  display: block;
}


/*
div.oml-line-chart {
  margin: 20px;
}

.oml-line-chart path {
  fill: none;
}
*/

/*.oml-line-chart line {
  stroke: black;
}*/


.oml-line-chart .grids {
  stroke: #ddd;
  stroke-width: 1;
}



.oml-line-chart .oml-line-chart .graph-area {
  cursor: crosshair;
}

.oml-line-chart .select-rect {
  cursor: pointer;
  *cursor: hand;
  fill-color: #FF8080;
  fill-opacity: 0.4;
}

/**********
*  Axes
*/


.oml-line-chart .axis {
  stroke: #aaa;
}

.oml-line-chart .axis .tick {
  stroke: #000;
  stroke-width: 2;
  
}

.axis path {
  fill: none;
  stroke: #aaa;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
  stroke-width: 2;
}

.axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
  shape-rendering: crispEdges;
}

.axis text {
  stroke-width: 1;  
  stroke: #888;
  font-family: sans-serif;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
