body {
    background-color:#E5E5E5;
    color:#222222;
    font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
    margin:0pt auto;
    padding:0pt;
    z-index: 10;    
}

/****** LINKS ******/

a {
    padding:1px;
    text-decoration:underline;
}


a:link, 
a:visited {
    color:#437C56;
}


a:visited {
    color:#0033CC;
}

a:hover {
    background-color:#3300CC;
    color:#FFFFFF;
    text-decoration:none;
}

.action {
    font-family:verdana;
    font-size:11px;
    font-weight:normal;
}

a.action:link, 
a.action:visited {
    color:#FF0000;
}

a.action:hover, 
a.actionfull:hover {
    background:#FF0000 none repeat scroll 0%;
    color:#FFFFFF;
}

a.image:link, 
a.image:visited, 
a.image:hover {
    background:transparent none repeat scroll 0%;
    padding:0pt;
}

/***** PAGE STRUCTURE *****/

#page {
  padding-right: 200px;
}

#main {
  margin-right: 0px;
  padding: 10px 20px;
  width: auto;
}
    
#sidebar {
  width: 200px;
  margin-right: -200px;
}

/*** PAGE HEADER ----*/


#header {
    margin:0pt;
    padding:1px 0pt 0pt;
    position:relative;
    text-align:left;
}

#header {
    background-color:#CBEAC7;
    background-color:white;
}

#header h1 {
    color:#FFCC00;
    font-size:24px;
    font-weight:normal;
    margin: 10px 0pt 0pt 30px;
    padding:0pt 0pt 10px;
    text-align:left;
}

#header h1 {
    color:#000000;
}

#header div.top_menu {
    float:right;
    position:relative;
    text-align:right;
    width:300px;
    font-family:verdana;
    font-size:10px;
    font-weight:normal;
    margin:7px 0pt 0pt;
    padding:0pt 30px 0pt 32px;
}

#header div.top_menu, 
#header div.top_menu a:link, 
#header div.top_menu a:visited {
    color:#5A9E6C;
}

#header h3 a:hover {
    background-color: #1E5A28;
    color: white;
}

/*--- TABS ----*/

#tabs {
    height:25px;
    margin:0pt 30px 0pt 30px;
    padding:0pt;
}

#tabs ul {
    margin:0pt;
    padding:0pt;
}

#tabs li {
/*
    border:medium none;
*/
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0pt 1pt;
    padding:0pt;
}

ul#mainTabs a:link, 
ul#mainTabs a:visited {
    float:left;
    font-size:12px;
    font-weight:normal;
    margin:0pt;
	  margin-right:2pt;
    padding:4px 8px 6px;
		border-left: 1px solid #E5E5E5;
		border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;		
}

ul#mainTabs li.tabs_last a:link, 
ul#mainTabs li.tabs_last a:visited {
	border-right: 1px solid #E5E5E5;
}

#tabs a:link, 
#tabs a:visited {
/*
    text-decoration:none;
*/
}

ul#mainTabs a {
    text-decoration: none;
}

ul#mainTabs a:hover {
    text-decoration: underline;
}


#tabs a:link, 
#tabs a:visited {
/*
    border-color:#CBEAC7 rgb(203, 234, 199) rgb(67, 124, 86);
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
*/
    background-color: transparent;
    color: black;
}

ul#mainTabs a.current:link, 
ul#mainTabs a.current:visited {
    color:#000000;
}

ul#mainTabs a.current:link, 
ul#mainTabs a.current:visited {
/*
    background:#E5E5E5 url(/resource/image/tab-bg.gif) repeat-x scroll center top;
*/
    background:#E5E5E5;
    border-bottom:1px solid #E5E5E5;
    color:#222222;
    font-weight:bold;
    margin:0pt;
    text-decoration:none;
		margin-right:2pt;		
}

.adminTab {
    float: right;
    background:#E2F9E3;
}



/*--- PAGE BODY ----*/

/*div.body {
    margin:0pt auto;
    padding: 12px 23px 0pt 30px;
}*/


h1 {
    border-bottom:0pt none;
    color:#333333;
    font-family:"Lucida Grande",arial,sans-serif;
    font-size:16px;
    font-weight:bold;
    margin:0pt;
    padding:0pt;
}

h2 {
    color:#333333;
    font-family:"Lucida Grande",arial,sans-serif;
    font-size:14px;
    margin:20px 0pt 5px 0px;
    padding:0pt;
}

h2 span.mid {
    padding-left: 10pt;
}

input {
    padding:3px;
}

/****** FLASH ******/

.flash,
.flash_notice,
.flash_alert
{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    margin-bottom: 12px;
    margin-right: 8px;
    padding: 5px 5px 5px 30px;
    text-align: left;
}

.flash_notice {
    background:#E2F9E3 url(/resource/image/alertgood_icon.gif) no-repeat scroll left center;
    border-color:#99CC99;
    color:#006600;
}

.flash_alert {
    background:#CC0000 url(/resource/image/alertbad_icon.gif) no-repeat scroll left center;
    border-color:#CC9999;
    color:#FFFFFF;
}

/****** CARD *****/

div.card {
    background: #FFFFFF url(/resource/image/right-bg.gif) repeat-y scroll right center;
    padding:0pt 8px 0pt 0pt;
}

div.card_header {
    background:#EDF3FE none repeat scroll 0%;
    margin:0pt;
    padding: 15px 25px;
}

div.card_unknown div.card_header {
    background:#fc2722 none repeat scroll 0%;
}

div.card_header h1 {
}

div.card_unknown div.card_header h1 {
  color: white;
}

div.card_header div.actions {
    width:350px;
    color:#CCCCCC;
    float:right;
    font-size:11px;
    line-height:20px;
    margin-top:0pt;
    text-align:right;
    width:300px;
}

div.card_announcement {
    background-color:#FFFFCC;
    border-bottom:1px solid #FF9900;
    border-top:1px solid #FF9900;
    padding:10px 25px;
}

div.card_body {
  padding: 10px 20px 20px 25px;
}

div.card_bottom {
    background:transparent url(/resource/image/bottom-bg.gif) no-repeat scrocard_navight top;
    font-size:8px;
}

/******  CARD NAV *************/
div.card_nav {
    background:#EDF3FE;
    border-top:1px solid #E1E1E1;
    border-top:1px solid #CCDEFE;    
    font-size:70%;
    overflow: auto;    
}

div.card_nav ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    width:100%;
    margin:0pt;
    padding:0pt;
}

div.card_nav ul li {
    display:inline;
    margin:0pt;
    padding:0pt;
}


div.card_nav ul li a,
div.card_nav ul li a:link,
div.card_nav ul li a:visited,
div.card_nav ul li a:hover {
    border:medium none;
    color:#333333;
    display:block;
    float:left;
    font-weight:bold;
    padding:8px 30px;
    padding:6px 20px;
    position:relative;
    text-shadow:#FFFFFF 2px 2px;
    text-decoration: none;
    background-color: transparent;
}

div.card_nav ul li img.arrow {
  bottom:-8px;
  left:50%;
  margin-left:-6px;
  position:absolute;
  z-index:0;
}



div.card_nav ul li.selected a,
div.card_nav ul li.selected a:link, 
div.card_nav ul li.selected a:visited,
div.card_nav ul li.selected a:hover {
  background: #CCDEFE url(/resource/image/nav-tab-arrow.gif) no-repeat scroll 50% 100%;
}

div.card_nav ul li a:hover {
    text-decoration: underline;
}

div.card_nav ul li.selected a:hover {
    text-decoration: none;
}



/****** CONFIRM BOX ***************/

.confirm_box {
    width: 100%;
    border: 1px solid;
    border-color: #CC9999;
}

.confirm_box_header {
    background:#CC0000  none repeat scroll 0%;
    margin: 0pt;
    padding: 13px 30px 13px 24px;
/*
    width: 100%;
*/
}

.confirm_box_header h1 {
    color:#FFFFFF;
}

div.confirm_box_content {
    padding: 30px;
    font-size: 14px;
    font-weight: bold;
}

.confirm_box_commands {
    padding-top: 20px;
    text-align: center;
}

/*
#RB_window {
    text-align: center;
    margin: 20px auto 0 auto;
}
***/



/********* SIDEBAR PANELS *******/

#sidebar div.panel {
    background-color:#EDF3FE;
    padding:10px;
    margin: 15px 20px 15px 0px;
    width: auto;
}

#sidebar div.panel h1 {
    font-size:14px;
    background-color:#bbd3fb;
    border-bottom:medium none;
    color:#333333;
    margin:0pt 0pt 5px;
    padding:6px 8px;
    margin-bottom:10px;
}

#sidebar div.panel p {
    margin:0pt 0pt 10px;
    padding:0pt;
    color:#222222;
    font-size:12px;
    line-height:1.3em;
}

#sidebar div.help_panel {
    background-color:#FFFFCC;
}

#sidebar div.help_panel h1 {
    background-color:#FFFF76;
}

/************ FEEDBACK **************/
div.feedback_selected {
    width: 400px;
}

div.right_panelx {
    width: 400px;
}

div.feedback_selected textarea {
/*
	cols: 60;
*/
}

.fb_send_button {
    margin-top: 10px;
}

div.other_tasks {
    font-size:12px;
    line-height:22px;
    margin:8px 0pt 25px 7px;
}

div.other_tasks ul {
    padding: 0pt;
		margin: 0pt;
		
}

div.other_tasks li {
    list-style-type: none;
}

/************ FOOTER **************/

#footer {
    clear:left;
    color:#666666;
    font-size:9px;
    margin:4px 0pt 20px 20px;
    padding-bottom:15px;
    text-align:left;
}

/************ LOGIN **************/

body.login {
    text-align:center;
}

.login div.container {
    margin: 100px auto 20px;
    min-width: inherit;
    width: 500px;
}

.login div#dialog {
    background:#FFFFFF none repeat scroll 0%;
    border:10px solid #CCCCCC;
    border: 1px solid blue;
    padding:15px 20px 10px;
    text-align:left;
}

