body {
    background-color:#E5E5E5;
    color:#222222;
    font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
    margin:0pt auto;
    padding:0pt;
    z-index: 10;    
}

/****** LINKS ******/

a {
    padding:1px;
    text-decoration:underline;
}


a:link, 
a:visited {
    color:#437C56;
}


a:visited {
    color:#0033CC;
}

a:hover {
    background-color:#3300CC;
    color:#FFFFFF;
    text-decoration:none;
}

.admin {
    font-family:verdana;
    font-size:11px;
    font-weight:normal;
}

a.admin:link, 
a.admin:visited {
    color:#FF0000;
}

a.admin:hover, 
a.adminfull:hover {
    background:#FF0000 none repeat scroll 0%;
    color:#FFFFFF;
}

a.image:link, 
a.image:visited, 
a.image:hover {
    background:transparent none repeat scroll 0%;
    padding:0pt;
}

/***** PAGE STRUCTURE *****/


/*** PAGE HEADER ----*/


#header {
/*
    background:#003366 none repeat scroll 0%;
*/
    margin:0pt;
    padding:1px 0pt 0pt;
    position:relative;
    text-align:left;
}

#header {
    background-color:#CBEAC7;
    background-color:white;

}

#header h1 {
    color:#FFCC00;
    font-size:24px;
    font-weight:normal;
    margin: 17px 0pt 0pt 30px;
    padding:0pt 0pt 10px;
    text-align:left;
}

#header h1 {
    color:#000000;
}

#header h3.top_menu {
    float:right;
    position:relative;
    text-align:right;
    width:300px;
}

#header h3 {
    font-family:verdana;
    font-size:10px;
    font-weight:normal;
    margin:7px 0pt 0pt;
    padding:0pt 30px 0pt 32px;
    text-align:left;
}

#header h3, 
#header h3 a:link, 
#header h3 a:visited {
    color:#5A9E6C;
}

#header h3 a:hover {
    background-color: #1E5A28;
    color: white;
}

/*--- TABS ----*/

#tabs {
    height:25px;
    margin:0pt 30px 0pt 30px;
    padding:0pt;
}

#tabs ul {
    margin:0pt;
    padding:0pt;
}

#tabs li {
/*
    border:medium none;
*/
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0pt 1pt;
    padding:0pt;
}

ul#mainTabs a:link, 
ul#mainTabs a:visited {
    float:left;
    font-size:12px;
    font-weight:normal;
    margin:0pt;
	  margin-right:2pt;
    padding:4px 8px 6px;
		border-left: 1px solid #E5E5E5;
		border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;		
}

ul#mainTabs li.tabs_last a:link, 
ul#mainTabs li.tabs_last a:visited {
	border-right: 1px solid #E5E5E5;
}

#tabs a:link, 
#tabs a:visited {
/*
    text-decoration:none;
*/
}

ul#mainTabs a {
    text-decoration: none;
}

ul#mainTabs a:hover {
    text-decoration: underline;
}


#tabs a:link, 
#tabs a:visited {
/*
    border-color:#CBEAC7 rgb(203, 234, 199) rgb(67, 124, 86);
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
*/
    background-color: transparent;
    color: black;
}

ul#mainTabs a.current:link, 
ul#mainTabs a.current:visited {
    color:#000000;
}

ul#mainTabs a.current:link, 
ul#mainTabs a.current:visited {
/*
    background:#E5E5E5 url(/resource/image/tab-bg.gif) repeat-x scroll center top;
*/
    background:#E5E5E5;
    border-bottom:1px solid #E5E5E5;
    color:#222222;
    font-weight:bold;
    margin:0pt;
    text-decoration:none;
		margin-right:2pt;		
}

.adminTab {
    float: right;
    background:#E2F9E3;
}

/*--- PAGE NAV -- */
/*******************/
div.page_nav {
    background:#EDF3FE;
    border-top:1px solid #E1E1E1;
    border-top:1px solid #CCDEFE;    
    font-size:70%;
    overflow: auto;    
}

div.page_nav ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    width:100%;
    margin:0pt;
    padding:0pt;
}

div.page_nav ul li {
    display:inline;
    margin:0pt;
    padding:0pt;
}


div.page_nav ul li a,
div.page_nav ul li a:link,
div.page_nav ul li a:visited,
div.page_nav ul li a:hover {
    border:medium none;
    color:#333333;
    display:block;
    float:left;
    font-weight:bold;
    padding:8px 30px;
    padding:6px 20px;
    position:relative;
    text-shadow:#FFFFFF 2px 2px;
    text-decoration: none;
    background-color: transparent;
}

div.page_nav ul li img.arrow {
	bottom:-8px;
	left:50%;
	margin-left:-6px;
	position:absolute;
	z-index:0;
}



div.page_nav ul li.selected a,
div.page_nav ul li.selected a:link, 
div.page_nav ul li.selected a:visited,
div.page_nav ul li.selected a:hover {
	background: #CCDEFE url(/resource/image/nav-tab-arrow.gif) no-repeat scroll 50% 100%;
}

div.page_nav ul li a:hover {
    text-decoration: underline;
}

div.page_nav ul li.selected a:hover {
    text-decoration: none;
}


/*--- PAGE BODY ----*/

div.body {
    margin:0pt auto;
    padding: 12px 23px 0pt 30px;
}

table.layout {

    border-collapse:collapse;
    clear:left;
/*
    width:100%;
*/
    width: auto;
}

table.layout td.left {
    width:100%;
}

table.layout td.right {
}


table.layout td.left, 
table.layout td.right {
    padding:0pt;
    vertical-align:top;
}
table.layout td.left div.left, 
table.layout td.right div.right {
    float:none;
    width:auto;
}

body .right h1 {
    background-color:#EDF3FE;
    border-bottom:1px solid #DCDCDC;
    color:#333333;
    font-size:13px;
    margin:0pt 0pt 5px;
    padding:6px 8px;
}

div.left .bottom {
    background:transparent url(/resource/image/bottom-bg.gif) no-repeat scroll right top;
    font-size:8px;
}

#Footer {
    clear:left;
    color:#666666;
    font-size:9px;
    margin:4px 0pt 20px 20px;
    padding-bottom:15px;
    text-align:left;
}

div.left .col {
    background:#FFFFFF url(/resource/image/right-bg.gif) repeat-y scroll right center;
    padding:0pt 8px 0pt 0pt;
    position:relative;
}

div.right .col {
    min-width:200px;
    width:200px;    
    padding:0pt 0pt 0pt 9px;
}

td, 
th {
    padding:3px;
    text-align:left;
}

td {
    font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
}

h1 {
    border-bottom:0pt none;
    color:#333333;
    font-family:"Lucida Grande",arial,sans-serif;
    font-size:16px;
    font-weight:bold;
    margin:0pt;
    padding:0pt;
}

h2 {
    color:#333333;
    font-family:"Lucida Grande",arial,sans-serif;
    font-size:14px;
    margin:20px 0pt 5px 0px;
    padding:0pt;
}

h2 span.mid {
    padding-left: 10pt;
}

input {
    padding:3px;
}

/****** FLASH ******/

.flash,
.flash_notice,
.flash_alert
{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 5px 5px 5px 30px;
    text-align: left;
}

.flash_notice {
    background:#E2F9E3 url(/resource/image/alertgood_icon.gif) no-repeat scroll left center;
    border-color:#99CC99;
    color:#006600;
}

.flash_alert {
    background:#CC0000 url(/resource/image/alertbad_icon.gif) no-repeat scroll left center;
    border-color:#CC9999;
    color:#FFFFFF;
}

div.page_header {
    background:#EDF3FE none repeat scroll 0%;
    margin:0pt;
    padding:13px 30px 13px 24px;
}

div.page {
    padding: 15px 28px 20px 23px;
}

div.page_header_links {
    width:350px;
    color:#CCCCCC;
    float:right;
    font-size:11px;
    line-height:20px;
    margin-top:0pt;
    text-align:right;
    width:300px;
}

div.navigation,
div.commands {
    margin-top: 8px;
    padding-top: 8px;
    padding-left:15px;
    margin-right:15px;
    text-align:left;
}

div.commands {
    border-top:2px solid #777777;
    border-top:2px solid #aaaaaa;
    color:#666666;
}


/****** SHOW *******/

table.show_status {
/*
    display: inline;
*/
}

.meta_label {
    color:#000000;
    font-family:"verdana","Arial","Helvetica",sans-serif;
    font-family:"Lucida Grande",arial,sans-serif;    
    font-size:10pt;
    font-style:normal;
    font-weight: normal;
    padding:3px;
    text-align:right;
    text-decoration:none;
    vertical-align:top;
    white-space:nowrap;
}

.meta_label_edit {
		font-size: 10pt;
		font-weight: bold;
}

.mandatory_meta_field {
	color: red;
}

.meta_value,
.show_author_name,
.show_author_affiliations {
    color:#000000;
    font-family:"verdana","Arial","Helvetica",sans-serif;
    font-family:"Lucida Grande",arial,sans-serif;        
    font-size:12pt;
    font-style: normal;
    font-weight: bold;
    padding-left:3px;
    text-align:left;
    text-decoration:none;
    vertical-align:top;
    vertical-align: bottom;
}

.unknown_date {
	font-weight:normal;
	font-style:oblique;
}

.meta_value_title {
    font-size: 14pt;
}

.meta_value_abstract {
    font-weight: normal;
}

#typeEditorContainer {
	margin-top: 1em;
}

/*--- Show Author --- */
td.show_status_withdrawn {
    color: red;
}

td.show_status_yes {
    background: green;
    color: white;
}

td.show_status_rejected {
    background: red;
    color: white;
}

td.show_status_waiting {
    background: yellow;
    color: blue;
}

td.show_status {
    padding: 1px 4px 1px 4px;
}

/*--- Show Author --- */
.show_authors {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
}

.show_author_name {
    padding-left: 15px;
}

.show_author_affiliations {
    font-style: italic;
    font-weight: normal;    
    padding-left: 10px;
}

/*--- SHOW COMMENTS --

ol.show_comments {
    list-style-type: none;
}

div.comment_content {
    font-size: 12px;
    border: 1px solid yellow;
    background: light-yellow;
}

div.comment_meta {
    font-size: 10px;
    text-align: right;
    padding-bottom: 10px;
}
--*/
/*--- SHOW UPLOAD ----*/

#document_upload_pub {
    margin-top: 5px;
}

/*--- SHOW MISC ----*/
#stateCommands li {
    border:medium none;
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0pt;
    padding:0pt;
}

div.extra {
    border-left:8px solid #D9D9D9;
    font-size:12px;
    margin:15px 0pt 15px 15px;
    padding:5px 0pt 5px 10px;
}

/****** FORMS ******/

.formBlock,
.formBlock2 {
    font-size:12px;
    background:#F0F0F0 none repeat scroll 0%;
    border:1px solid #CCCCCC;
    margin-top:20px;
    padding: 1px 15pt 15px 15px;
/*
    width: 600px;
*/
}


.formBlock2 {
    margin: 0pt 20pt 10px 0px;
/*
    width: 500px;
*/
}

.formBlock h1 {
    font-size:14px;
    font-weight:bold;
    padding:20px 0pt;
}

.formBlock .selfApprove {
	border-bottom: 1px solid black;
  padding: 5px 0 20px;
	margin-bottom: 10px
}

.formBlock h2 {
    font-size:11px;
    font-weight:bold;
    margin:10px 0pt 0px;
}

.formBlock textarea {
    font-size:14px;
    margin-top:3px;
    width:95%;    
/*
    width:550px;
*/
}

.formBlock input#publication_title {
    font-size:18px;
    font-weight:bold;
    width:550px;
    width:100%;
}

#publication_abstract {
    width:100%;
}

#publication_keywords {
    width:550px;
    width:100%;
}


.formBlock input {
}

/***** AUTHOR ENTRY FORM ******/

/*
table.author {
    width: 60%;
}
*/

ol#authors,
ol.affiliations {
    list-style-type: none;
    padding: 0px 0px 0px 10px;
}


input.author_initial {
    width: 20px;
}

h2.author_last_name {
    color: red;
}

/*
input.author_last_name,
input.author_first_name {
    width: 100%;
  	min-width: inherit;
}
*/
#add_author_command {
    margin-left: 10px;
}

h2.affiliation_name {
    margin-top: 0px;
}

ol.affiliations {
    padding-left: 20px;
}

.add_affiliation_command {
    margin-top: 4px;
    margin-left: 26px;
}

/********* LIST PUBLICATIONS **********/

/*
ol.list_publications {
    list-style-type: none;
    padding: 0px 0px 0px 10px;
}
*/

div.empty_list {
	padding: 1em;
}

span.empty_list {
	font-style:oblique;
}

tr.list_record {
    margin: 10px;
}

td.list_record {
    padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
}

#export_list {
	display:inline;
} 

td.select_export_format {
    vertical-align: top;
}

span.list_authors {
	font-style:oblique;
}

a.list_title {
	font-weight:bold;
  text-decoration:none;
}

a.list_title:hover {
/*
  text-decoration:underline;;	
*/
}

a.list_title_withdrawn {
	text-decoration:line-through;
}

div.list_record_sub {
	padding-top: 0.3em;
	padding-left: 1em;
}

span.show_status {
}

span.status_late,
span.status_approval_pending,
span.status_rejected,
span.status_withdrawn {
	font-weight:bold;
}

span.status_late,
span.status_rejected,
span.status_withdrawn {	
	color: red;
}

/************** COMMENTS   ***********/

div.comment_content {
    border-bottom:1px solid #EFEFEF;
    clear:left;
    color:#333333;
    margin:0pt 0pt 5px;
    padding:5px;
    padding-bottom: 10px;
}
/**
div.Post {all.css (line 6274)
margin-left:0pt;
padding-left:0pt;
}
**/

.comment_content h3 {
    margin-top:0pt;
    color:#333333;
    font-size:12px;
    font-weight:normal;
    line-height:1.3em;
    margin:10px 0pt 5px;
    padding:0pt;
    background-color:#FFFFCC;
}

/****** CONFIRM BOX ***************/
.confirm_box {
    width: 100%;
    border: 1px solid;
    border-color: #CC9999;
}

.confirm_box_header {
    background:#CC0000  none repeat scroll 0%;
    margin: 0pt;
    padding: 13px 30px 13px 24px;
/*
    width: 100%;
*/
}

.confirm_box_header h1 {
    color:#FFFFFF;
}

div.confirm_box_content {
    padding: 30px;
    font-size: 14px;
    font-weight: bold;
}

.confirm_box_commands {
    padding-top: 20px;
    text-align: center;
}

/*
#RB_window {
    text-align: center;
    margin: 20px auto 0 auto;
}
***/



/********* RIGHT ANNOUNCEMENT *******/
div.right_announce {
    background-color:#FFFFCC;
    padding:10px;
    width: auto;
}

div.right_announce h1 {
    font-size:14px;
    background-color:#FFFF76;
    border-bottom:medium none;
    color:#333333;
    margin:0pt 0pt 5px;
    padding:6px 8px;
    margin-bottom:10px;
}

div.right_announce p {
    margin:0pt 0pt 10px;
    padding:0pt;
    color:#222222;
    font-size:12px;
    line-height:1.3em;
}

/************ FEEDBACK **************/
div.feedback_selected {
    width: 400px;
}

div.right_panelx {
    width: 400px;
}

div.feedback_selected textarea {
/*
	cols: 60;
*/
}

.fb_send_button {
    margin-top: 10px;
}

div.other_tasks {
    font-size:12px;
    line-height:22px;
    margin:8px 0pt 25px 7px;
}

div.other_tasks ul {
    padding: 0pt;
		margin: 0pt;
		
}

div.other_tasks li {
    list-style-type: none;
}

/************ FOOTER **************/

#footer {
    clear:left;
    color:#666666;
    font-size:9px;
    margin:4px 0pt 20px 20px;
    padding-bottom:15px;
    text-align:left;
}

/************ LOGIN **************/

body.login {
    text-align:center;
}

.login div.container {
    margin: 100px auto 20px;
    min-width: inherit;
    width: 500px;
}

.login div#dialog {
    background:#FFFFFF none repeat scroll 0%;
    border:10px solid #CCCCCC;
    border: 1px solid blue;
    padding:15px 20px 10px;
    text-align:left;
}

/************* ANNOUNCEMENT *********/

div.announcement {
    background-color:#FFFFCC;
    border-bottom:1px solid #FF9900;
    border-top:1px solid #FF9900;
    padding:10px 25px 0pt;
}

div.announcement h1 span {
    float: right;
}

/************* TASKS & EVENTS *************/

.lateTasks h1,
.upcomingTasks h1, 
.recentEvents h1,
.completedTasks h1 {
    background-color:#FFCC00;
    color:#000000;
    font-family:verdana;
    font-size:12px;
    margin:0pt;
    padding:3px;
    text-align:left;
}

.lateTasks h1 {
    background-color:#CC0000;
    border-bottom:1px solid #CC0000;
    color:#FFFFFF;
}

.recentEvents {
    margin-top: 20pt;
/*
    border-top:2px solid #EDF3FE;		
    border-top:1px solid blue;				
*/
}

.recentEvents h1 {
    padding-top: 5pt;
    font-size: 10px;
    background-color:#EDF3FE; /* doesn't show in IE */
}

.task {
    border-bottom:1px solid #E0E0E0;
    padding:8px 0pt 8px 5px;
}

.task h2 {
    color:#CC0000;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
    margin:0pt;
    padding:0pt 0pt 3px;
}

.task h2 .date {
    font-weight: normal;
}

.upcomingTasks {
	margin-top: 1em;
}

.upcomingTasks h2 {
    color:#CC9933;
}

.task h3 {
    border-bottom:0pt none;
    color:#333333;
    font-family:"Lucida Grande",arial,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin:0pt;
    padding:0pt;
    margin-bottom: 5pt;
}


.task .description,
.noTasks,
.noEvents {
    font-size: 12px;
    margin-left: 10pt;
}

ul.events {
    margin:10pt;
		margin-left: 20pt;
    padding:0pt;
}

ul.events li {
/*
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
*/
/*
    margin: 0pt 1pt;
*/
    padding:1pt;
    font-size: 12px;	
			
}

li.event span.withdrawn,
li.event span.rejected {
    color: red;
}

li.event span.date {
    font-weight: normal;
}

/********** FILTER *************/

div.filter {
    background-color:#FFFFCC;
    font-size: 12px;
    padding: 10px;
/*
    margin: 10px 0px 10pt 0pt;    
    margin-bottom: 10pt;
*/

    background-color:#FFFBC6;
/*
    border:1px solid #FFDB00;
*/
}

div.filter form {
    margin: 0;
    padding: 0;
}

div.filter_clear {
	float: right;
	text-align: right;
}

/********** TOP PAGE CONTROL *************/

div.topPageControl {
    font-size: 12px;
    background-color:#FFFBC6;
    padding: 5px 10px;
    padding: 10px;
/*
    border:1px solid #FFDB00;
*/
}

div.topPageControl form,
div.topPageControl form p {
    margin: 0;
    padding: 0;
}

/******* Settings *****************/

table.state {
    margin-top: 10pt;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 100%;
}

table.state tr.heading td {
    font-size:12px;
    border-bottom:1px solid #333333;
    padding:3px 5px 5px 3px;
    font-weight:bold;
}

table.state tr.heading td.key {
    font-size:14px;
}

table.state tr td {
    border-bottom:1px solid #EFEFEF;
    font-size:11px;
    padding:3px;
    white-space:nowrap;
}

table.state tr.grey td {
    background-color:#EFEFEF;
}

table.state td {
    border-right:1px dotted #CCCCCC;
    padding-right:10px;
    white-space:normal;
}

table.state td.key {
    font-size:12px;
    font-weight:bold;
}

table.state td.last
{
    border-right:0px;
}

/******** MESSAGE *************/

h3.message .date {
    float: right;
}

h3.message .name {
    font-weight:bold;
}

/******** BIBTEX *************/
div.bibControl span.prefix{
    font-size: 16px;
}

div.bibControl h2 {
    margin: 10pt 0;
}

/********** PAGINATION *********/
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, 
.pagination a:active {
  border: 1px solid #000099;
  color: #000;
	background-color: transparent;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/*********************/

.contextHeader h1 {
    border-bottom:1px solid #666666;
    color:#000000;
    font-size:12px;
    margin:0pt;
    padding-bottom:2px;
}

div.instruct {
    background:#FFFFCC none repeat scroll 0%;
    border:1px solid #E6E6E6;
    color:#444444;
/*
    font-size:80%;
*/
    left:100%;
    line-height:130%;
    margin:0pt 0pt 10pt 8px;
    padding:8px 10px 9px;
/*
    position:absolute;
    top:0pt;
    width:42%;
    z-index:1000;
    visibility: hidden;
*/
}

#selfApproveInstruct {
	margin-top: 20px;
}

/**** FAQ ********/

div.instruct span.important {
	font-weight: bold;
}

a.faq_return {
	font-size:small;
}

/******* BROWSE ********/

#updateSpinner {
    margin-top: 10px;
}

div.top_result_nav {
    font-size:smaller;
	margin-top: 0.5em;
	margin-bottom: 1em;	

}

div.result_size {
}

div.top_result_nav div.browse_modes {
  float: right;
  margin-left: 1em;
}

div.order_by {
    float:right;
}

#order_selector, #order_form  {
    display:inline;
}

/****** INLINE EDITING ******/

.editable_value {
/*
    text-decoration:underline;  
 */
}
.editable_submit {
		margin-left: 1em;
}

.editable_cancel {
    font-family:verdana;
    font-size:11px;
    font-weight:normal;
    color:#FF0000;
    text-decoration:underline;
    margin-left: 1em;
}

.nohover a:hover { background-color: transparent; }

.omf-admin-small {
	font-size:12px;
}
