/*
 * Wairoa Form Builder
 */
 
ul.wfob {
    font-size:small;
    list-style-type:none;
    margin:0pt;
    padding:10pt;
    width:auto;
}

ul.wfob li {
    width:97%;
/*
    width:62%;    with descriptions
*/
    display:block;
    margin:0pt;
    padding: 0px 5px 2px 0px;
    position:relative;
    overflow: auto;
}

ul.wfob li.focused {
	background-color: #FFF7C0;
}

ul.wfob ul.rec_array {
	padding-left: 0pt;
}

ul.wfob label.desc {
    color:#444444;
    font-family:inherit;
    font-size:95%;
    border:medium none;
    display:block;
    font-weight:bold;
    line-height:150%;
    padding:0pt 0pt 1px;
}


ul.wfob li div, 
ul.wfob li span {
    color:#444444;
    margin:0pt 4px 0pt 0pt;
    padding:0pt 0pt 8px;
    height: auto;
}

ul.wfob li span {
    float:left;
}


ul.wfob li div.fleft {
    display:inline;
    float:left;
    width:48%;
}

ul.wfob li div.fright {
    display:inline;
    float:right;
    width:48%;
    padding-right:0px;
    margin-right:0px;
}

ul.wfob li div {
    overflow: auto;
}

ul.wfob li div, 
ul.wfob li div label, 
ul.wfob li span label {
    color:#444444;
    font-family:inherit;
}

ul.wfob li div label, 
ul.wfob li span label {
    clear:both;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0pt;
    padding-top:3px;
}

ul.wfob li input.large,
ul.wfob li input.medium {
    width: 100%;
}

/******** ERROR ***********/

ul.wfob li.error,
ul.wfob li div.error {
    background-color:#FFDFDF !important;
    border-bottom:1px solid #EACBCC;
    border-right:1px solid #EACBCC;
    margin:3px 0pt;
    padding: 5px;    
}

ul.wfob p.error {
    clear:both;
    color:red;
    font-size:10px;
    font-weight:bold;
    margin:0pt 0pt 5px 0px;
}

/******** SECTION **********/

ul.wfob li.section {
    padding-left:9px;
    border-top:1px solid #CCCCCC;
    border-left:5px solid #CCCCCC;
/*
		margin-left: -9px;
*/
    margin-top:9px;
    padding-bottom:5px;
    margin-bottom:10px;
    padding-top:13px;
    width:97% !important;
}

ul.wfob li.first_section {
    border-top:0px;
}

ul.wfob li.section h3 {
    background:#FFFFFF none repeat scroll 0%;
    color:#000000;
    font-family:inherit;
    font-size:110%;
    font-weight:normal;
    font-weight: bold;
    line-height:130%;
    margin:0pt 0pt 2px;
}

ul.wfob li.section p {
    color:#444444;
    font-family:inherit;
    font-size:85%;
    margin:0pt 0pt 10px;
}

/******* INSTRUCTIONS *********/

ul.wfob li p.instruct {
    background:#F5F5F5 none repeat scroll 0%;
    border:1px solid #E6E6E6;
    color:#444444;
    font-size:80%;
    left:100%;
    line-height:130%;
    margin:0pt 0pt 0pt 8px;
    padding:8px 10px 9px;
    position:absolute;
    top:0pt;
    width:42%;
    z-index:1000;
    visibility: hidden;
}