/*
 * Wairoa Show Builder
 */
 
table.wshow {
	width:100%;
} 

table.wshow td.label {
    color:#000000;
    font-family:"verdana","Arial","Helvetica",sans-serif;
    font-family:"Lucida Grande",arial,sans-serif;    
    font-size:10pt;
    font-style:normal;
    font-weight: normal;
    padding:3px;
		padding-right:10px;
    text-align:right;
    text-decoration:none;
    vertical-align:bottom;
    white-space:nowrap;
	width: 10em;
}

table.wshow td.value {
    color:#000000;
    font-family:"verdana","Arial","Helvetica",sans-serif;
    font-family:"Lucida Grande",arial,sans-serif;        
    font-size:12pt;
    font-style: normal;
    font-weight: bold;
    padding-left:3px;
    text-align:left;
    text-decoration:none;
    vertical-align:top;
    vertical-align: bottom;
}

table.wshow td.value span.undefined{
    font-style:oblique;
    font-weight:normal;
    font-size:11pt;
}

/***** SECTION ***********/

div.wshow div.section {
	border-bottom:1px solid #CEDFFF;
	margin-bottom:8px;
	margin-top:12px;
	width:97% !important;
}

div.wshow div.first_section {
    border-top:0px;
}

div.wshow div.section h3 {
    background:#FFFFFF none repeat scroll 0%;
    color:#000000;
    color:#555;		
    font-family:inherit;
    font-size:100%;
    font-weight:normal;
    font-weight: bold;
    line-height:130%;
    margin:0pt 0pt 2px;
}

