Source: nodeagent4 
Section: omf
Priority: optional
Maintainer: Thierry Rakotoarivelo <thierry.rakotoarivelo@nicta.com.au> 
Build-Depends:
Standards-Version: 3.6.1

Package: nodeagent4
Architecture: all
Pre-Depends: ruby
Recommends:  wget  
Depends: frisbee, imagezip
Suggests: 
Installed-Size: 1024
Conflicts: 
Replaces: 
Description: Client application for OMF nodeAgent.  Executes commands given by the nodeHandler. 
