Source: orbit-pxe-server
Section: Orbit 
Priority: optional
Maintainer: Faiyaz Ahmed <faiyaz@winlab.rutgers.edu 
Build-Depends:
Standards-Version: 3.6.1

Package: orbit-pxe-server
Architecture: any
Pre-Depends: 
Recommends:    
Depends:
Suggests: 
Installed-Size: 1024
Conflicts: 
Replaces: 
Description: This package sets up an image to be fetched by PXE for imaging Orbit nodes.
