Source: omf-admin-5.3
Section: science
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: omf-admin-5.3
Architecture: all
Depends: omf-common-5.3
Description: OMF Testbed Configuration Interface
 Provides a web GUI for adding, editing and removing nodes and testbeds
