
div.oml-lineGraph {
  margin: 20px;
}

.oml-lineGraph path {
  stroke-width: 2;
  fill: none;
}

.oml-lineGraph line {
  stroke: black;
}

.oml-lineGraph .grids {
  stroke: #ccc;
  stroke-width: 1;
}

.oml-lineGraph text {
  font-family: Arial;
  font-size: 9pt;
}

.oml-lineGraph .oml-lineGraph .graph-area {
  cursor: crosshair;
}

.oml-lineGraph .select-rect {
  cursor: hand;
  fill: #FF8080;
  fill-opacity: 0.4;
}

