Source: nodehandler4
Section: Orbit 
Priority: optional
Maintainer: Max Ott [max@winlab.rutgers.edu] 
Build-Depends:
Standards-Version: 3.6.1

Package: nodehandler4
Architecture: all
Pre-Depends: 
Recommends:    
Depends:
Suggests: 
Installed-Size: 1024
Conflicts: 
Replaces: 
Description: The nodehandler controls experiments in the Orbit testbed.
