/*********** SEARCH ******/

table.search {
    border-spacing: 10px;
    vertical-align: top;
}

table.search td {
    vertical-align: top;    
}

table.search td.left {
    width: 14em;
    vertical-align: top;
    font-size: 90%;
    padding-right: 20px;
}

table.search td.narrow {
    padding-top: 0.5em;
}


table.search tr.sub_title td {
    padding: 0.3em 0.6em;
}

td.left_sub_title_empty {
}

td.left_sub_title {
    background: #FFFBC6;
}

td.right_sub_title {
    margin-left: 20px;
    background: #FFFBC6;
    
}

div.query_term {
    font-size: 150%;
}

span.query_term_all {
    font-style: italic;
}

span.sr {
    background: #FFFFCC;
}

div.search_item {
    margin-top: 1em;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 0.5em;
}

div.search_authors {
    font-style: italic;
}

div.search_authors a.author_link:hover {
    background-color: transparent;
    color: black;
    color:#437C56;
    text-decoration: underline;
}

div.search_title {
    font-weight: bold;
}

div.search_meta, 
div.search_export,
div.search_abstract {
    font-size: 90%;
    padding-left: 1em;
}

div.search_abstract {
    margin-top: 1em;
}

div.facet_title {
    font-weight:bold;
}

ul.facet {
    margin-top: 0.2em;
    padding-left: 1em;
    margin-left: 0pt;
    list-style-type: none;
 }
 
div.search_pagination_top {
    float: right;
}

 div.search_pagination_top span.current {
    font-weight: bold;
}