Source: omf-common-5.4
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5), rubygems, rake 
Standards-Version: 3.7.2
Section: science

Package: omf-common-5.4
Section: science
Architecture: all
Depends: ruby, rubygems, ruby-dev, rake
Description: Common ruby classes for OMF
 Ruby classes commonly required by OMF Experiment Controller, 
 Resource Controller and Aggregate Manager
