Source: omf-common-5.3
Priority: extra
Maintainer: Christoph Dwertmann <christoph.dwertmann@nicta.com.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Section: omf

Package: omf-common-5.3
Section: omf
Architecture: all
Depends: ruby1.8, liblog4r-ruby, libxmpp4r-ruby
Description: Common ruby classes for OMF
 Ruby classes commonly required by OMF Experiment Controller, Resource Controller and Aggregate Manager
