#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=5.2
PKG_NAME=omf-expctl-$(VERSION)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/omf-expctl
	mkdir -p debian/$(PKG_NAME)/usr/share/$(PKG_NAME)
	tar -C ruby -cf - --exclude='.svn' omf-expctl | tar -xf - -C debian/$(PKG_NAME)/usr/share/$(PKG_NAME)
	cp ruby/omf-expctl.rb debian/$(PKG_NAME)/usr/share/$(PKG_NAME)
	svn info | grep Revision | cut -d ' ' -f 2 > debian/$(PKG_NAME)/usr/share/$(PKG_NAME)/omf-expctl/REVISION
	tar -C etc -cf - --exclude='.svn' omf-expctl | tar -xf - -C debian/$(PKG_NAME)/etc/
	tar -cf - --exclude='.svn' bin | tar -xf - -C debian/$(PKG_NAME)/usr
	tar -C share -cf - --exclude='.svn' repository | tar -xf - -C debian/$(PKG_NAME)/usr/share/$(PKG_NAME)
	
	mv debian/$(PKG_NAME)/etc/omf-expctl debian/$(PKG_NAME)/etc/$(PKG_NAME)
	for FILE in `ls debian/$(PKG_NAME)/usr/bin/`; do mv debian/$(PKG_NAME)/usr/bin/$$FILE debian/$(PKG_NAME)/usr/bin/$$FILE-$(VERSION); done;
	
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
