div#screen_body,
div.page,
div.left,
div.col,
div.filter,
div.formBlock,
div.formBlock2,
div.login,
div.welcome,
div.recentEvents {
  zoom: 100%;
}

div.right {
  width: 29%;
}


/* Legacy elements needing layout */

div.showhide,
div.popup_add_dialog {
  height: 1%;
}

div.filter, #list_filter_form {
	width: 100%;

}
div.page, div.login {
	clear: both;
}

/***
table.list_records, tr.list_record, td.list_record {
	background-color: green;
	width: 100%;
	zoom: 100%;
}
**/